<h2>Hallo. Ich bin Robin.</h2>
<p><img src="http://i.imgur.com/Ugtiz42.jpg" width="130" height="130" alt="Polymorphin" title="Folge mir auf Twitter @Polymorphin"  class="img-rounded floatLeft" />			
Ich bin 22 Jahre alt und arbeite als Fachinformatiker für Anwendungsentwicklung. Themengebiete die mich interessieren:</p>
<p> test</p>
<p>test</p>
<ul>
    <li>Delphi<span class="label label-warning">4 Jahre</span></li>
    <li>Git<span class="label label-primary">2 Jahre</span></li>
    <li>Datenbanken<span class="label label-primary">3 Jahre</span></li>
    <li>IT Sicherheit <span class="label label-danger">5 Jahre</span></li>
    <li>Reverse Engineering<span class="label label-primary">2 Jahre</span></li>
    <li>HTML/CSS <span class="label label-success">Neu</span></li>
    <li>Gamehacking <span class="label label-danger">7 Jahre</span></li>
</ul>
<p>Auf dem Blog werde ich meine persönlichen Gedankengänge und Erlebnisse die ich erwähnenswert finde niederschreiben.</p>					
<p><a href="https://twitter.com/Polymorphin" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @Polymorphin</a></p>
<p>
	<ul class="buttons unstyled">
	  <li><a href="http://github.com/Polymorphin" rel="me" class="social github" title="Go to github.com/Polymorphin" target="_blank"></a></li>
	  <li><a href="http://www.twitter.com/Polymorphin" rel="me" class="social twitter" title="Go to twitter.com/Polymorphin" target="_blank"></a></li>
	  <li><a href="mailto:polymorphindev@gmail.com" rel="me" class="social mail" title="Polymorphin, polymorphindev@gmail.com"  target="_blank"></a></li>			
	</ul>
</p>
